publish_topic: {{ home_assistant_mqtt_configuration.event_stream.publish_topic }}
subscribe_topic: {{ home_assistant_mqtt_configuration.event_stream.subscribe_topic }}
ignore_event: {{ home_assistant_mqtt_configuration.event_stream.ignore_event | default([]) }}
