# Core Config Variables
{% for secret in home_assistant_core_secrets %}
{{ secret }}: {{ hostvars[inventory_hostname][secret] }}
{% endfor %}

# Instance Config Variables
{% for secret in home_assistant_instance_secrets %}
{{ secret }}: {{ hostvars[inventory_hostname][secret] }}
{% endfor %}